.cart-widget{
    position: relative;


}

.pill{
    position: absolute;
    background-color:#f06799;  
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 15px;
    top: -4px;
    right: -4px;
    color: rgb(255, 255, 255);
}

.cart-widget__cart {
    font-size: 40px;

}